JIRA_BASE_URL=https://seu-dominio.atlassian.net
JIRA_EMAIL=seu-email@empresa.com
JIRA_API_TOKEN=seu-token-api
JIRA_PROJECT_KEY=CSM
JIRA_PROJECT_NAME=Customer Success Management
JIRA_PROJECT_LEAD_ACCOUNT_ID=
DEFAULT_ASSIGNEE_ACCOUNT_ID=

# execution
JIRA_MODE=audit # audit | apply
JIRA_DRY_RUN=true
